Managed/.NET/C#/Applications/Console/WordPressGenerateCategoriesHtmlConsoleApplication/Categories/WordPressCategoriesDropDownXml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="select" type="selectType" />
  <xsd:complexType name="selectType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="option" type="optionType" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" />
    <xsd:attribute name="id" type="xsd:string" />
    <xsd:attribute name="class" type="xsd:string" />
  </xsd:complexType>
  <!-- generated:
  <xsd:complexType name="optionType">
    <xsd:attribute name="value" type="xsd:int" />
  </xsd:complexType>
-->
  <!-- actual: -->
  <xsd:complexType name="optionType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="class" type="xsd:string" />
        <xsd:attribute name="value" type="xsd:int" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>